.container{
  position: absolute;
  top:5em;
  left: 17em;
  height: 100%;
  /*width: 60%;*/
  /*background-color: #1ABB9C;*/
}

.container{
  display: grid;
  grid-template-columns: 65% 25%;
  /*grid-row:1/3;*/

}
/*app-nav-bar{*/
  /*grid-column: 3/3;*/

/*}*/

app-new{
  /*align-self: flex-start;*/
  grid-row: 2/3;
}

app-vote-setting{
  grid-row: 1/3;
}
