
<!--All the colors should be changed and the td blocks may created by using two for loops in a script-->

<!--<div class= "div_main wrapper">-->

  <!--<table>-->
    <!--<tbody>-->
    <!--<tr>-->
      <!--<td>-->
        <!--<div class="voting-panel">-->
          <!--<img src="../../assets/images/about-us.jpg" class="image">-->
          <!--<div class="div_bottom">-->
            <!--<div>asdfghjklkjhgfdssdfghj</div>-->

            <!--&lt;!&ndash;Should write a script to count up&ndash;&gt;-->
            <!--<div class="counter" countUp endVal="387">%</div>-->

            <!--<div id="more_info">-->
              <!--<a href="#" data-toggle="modal" data-target="#myModal">Vote</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</td>-->
      <!--&lt;!&ndash;<td>&ndash;&gt;-->
        <!--<div class="voting-panel">-->
          <!--<img src="../../assets/images/17.11.08_Medstar_FilePhotoTheoSymondsForthehoya-768x512.png" class="image">-->
          <!--<div class="div_bottom">asd</div>-->
        <!--</div>-->
      <!--</td>-->
      <!--<td>-->
        <!--<div class="voting-panel">-->
          <!--<div class="div_bottom"><h1 ></h1></div>-->
        <!--</div>-->
      <!--</td>-->
    <!--</tr>-->

    <!--<tr>-->
      <!--<td>-->
        <!--<div class="voting-panel">-->
          <!--<div class="div_bottom">asd</div>-->
        <!--</div>-->
      <!--</td>-->
      <!--<td>-->
        <!--<div class="voting-panel">-->
          <!--<div class="div_bottom">asd</div>-->
        <!--</div>-->
      <!--</td>-->
      <!--<td>-->
        <!--<div class="voting-panel">-->
          <!--<div class="div_bottom">asd</div>-->
        <!--</div>-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>-->
        <!--<div class="voting-panel">-->
          <!--<div class="div_bottom">asd</div>-->
        <!--</div>-->
      <!--</td>-->
      <!--<td>-->
        <!--<div class="voting-panel">-->
          <!--<div class="div_bottom">asd</div>-->
        <!--</div>-->
      <!--</td>-->
      <!--<td>-->
        <!--<div class="voting-panel">-->
          <!--<div class="div_bottom">asd</div>-->
        <!--</div>-->
      <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
<!--</div>-->
<!--<script></script>-->

<div class="wrapper">
  <div class="voting-panel">
    <div class="over-lap" style=" background-image: url('../../assets/images/about-us.jpg') ;,background-repeat: no-repeat;">
      <div class="div_bottom">
        <div>asdfghjklkjhgfdssdfghj</div>

        <!--Should write a script to count up-->
        <div class="counter" countUp endVal="387">%</div>

        <div class="more_info">
          <a href="#" data-toggle="modal" data-target="#myModal">Vote</a>
        </div>
      </div>
    </div>
  </div>

  <div class="voting-panel" >
    <!--<img src="../../assets/images/about-us.jpg" class="image">-->
    <div class="over-lap" style=" background-image: url('../../assets/images/about-us.jpg') ;,background-repeat: no-repeat;">
    <div class="div_bottom">
      <div>asdfghjklkjhgfdssdfghj</div>

      <!--Should write a script to count up-->
      <div class="counter" countUp endVal="387">%</div>

      <div class="more_info">
        <a href="#" data-toggle="modal" data-target="#myModal">Vote</a>
      </div>
    </div>
    </div>
  </div>



  <div class="voting-panel">
    <!--<div class="over-lap" style=" background-image: url('../../assets/images/about-us.jpg') ;,background-repeat: no-repeat;">-->
      <!--<img src="../../assets/images/about-us.jpg">-->
      <!--<div class="div_bottom">-->
        <!--<div>asdfghjklkjhgfdssdfghj</div>-->

        <!--&lt;!&ndash;Should write a script to count up&ndash;&gt;-->
        <!--<div class="counter" countUp endVal="387">%</div>-->

        <!--<div class="more_info">-->
          <!--<a href="#" data-toggle="modal" data-target="#myModal">Vote</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis fugiat molestias pariatur ratione tempore! Ad dolore facilis natus necessitatibus repellendus! Cum delectus minima natus placeat qui quidem saepe sunt, vero? Consectetur culpa eaque harum impedit nam nostrum, odit optio pariatur quibusdam quisquam recusandae, sed temporibus totam! Accusamus aliquam cum eaque eveniet expedita, fuga fugit impedit ipsa laudantium mollitia natus, non pariatur perspiciatis provident quas quos ratione saepe, tempore temporibus veniam vitae voluptas voluptates. Commodi et nobis perferendis porro reprehenderit velit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, maxime.
  </div>
  <div class="voting-panel">
    <!--<div class="over-lap" style=" background-image: url('../../assets/images/about-us.jpg') ;,background-repeat: no-repeat;">-->
      <!--<div class="div_bottom">-->
        <!--<div>asdfghjklkjhgfdssdfghj</div>-->

        <!--&lt;!&ndash;Should write a script to count up&ndash;&gt;-->
        <!--<div class="counter" countUp endVal="387">%</div>-->

        <!--<div class="more_info">-->
          <!--<a href="#" data-toggle="modal" data-target="#myModal">Vote</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid animi assumenda cumque dolore dolores earum excepturi expedita facere, fugiat hic ipsum iure laboriosam laborum maxime modi necessitatibus nihil placeat quaerat quibusdam ratione rem repellat tempora ullam ut vel voluptas voluptate. Ad amet animi, asperiores aspernatur atque autem beatae delectus eos incidunt ipsa ipsam iste itaque iure laborum libero nobis odit officia officiis possimus quia repellendus soluta sunt vel veniam veritatis vero voluptas? Eaque ex harum nam possimus reprehenderit rerum sapiente. Amet atque consequuntur cupiditate ducimus eaque eos iusto nemo porro, quam, qui reprehenderit sequi tenetur voluptate! Ex, illo.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, quasi.</div>

<!--</div>-->
</div>

