
<!--All the colors should be changed and the td blocks may created by using two for loops in a script-->

<div class= "div_main">
  <table>
    <tbody>
    <tr>
      <td>
        <div class="voting-panel">
          <img src="../../assets/images/about-us.jpg" class="image">
          <div class="div_bottom">
            <div>asdfghjklkjhgfdssdfghj</div>

            <!--Should write a script to count up-->
            <div class="counter" countUp endVal="387">%</div>

            <div id="more_info">
              <a href="#" data-toggle="modal" data-target="#myModal">Vote</a>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="voting-panel">
          <img src="../../assets/images/17.11.08_Medstar_FilePhotoTheoSymondsForthehoya-768x512.png" class="image">
          <div class="div_bottom">asd</div>
        </div>
      </td>
      <td>
        <div class="voting-panel">
          <div class="div_bottom"><h1 ></h1></div>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="voting-panel">
          <div class="div_bottom">asd</div>
        </div>
      </td>
      <td>
        <div class="voting-panel">
          <div class="div_bottom">asd</div>
        </div>
      </td>
      <td>
        <div class="voting-panel">
          <div class="div_bottom">asd</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="voting-panel">
          <div class="div_bottom">asd</div>
        </div>
      </td>
      <td>
        <div class="voting-panel">
          <div class="div_bottom">asd</div>
        </div>
      </td>
      <td>
        <div class="voting-panel">
          <div class="div_bottom">asd</div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script></script>
<script>
  VotingLayoutComponent.constructor();
</script>



