<div class="container">
  <div class="row">
    <div class="col-md-2 bdy">

      <!--set title-->

      <div class="navbar nav_title" style="border: 0;">
        <a href="#" class="site_title"><i class="fa fa-paw fa-2x"></i> <span>Vote Me</span></a>
      </div>

      <!--<hr>-->
      <!--profile information-->

      <div class="profile">
        <div class="profile_pic">
          <img src="../../assets/images/pro%20pic.png" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
          <span>Welcome,</span>
          <h2>John Doe</h2>
        </div>
      </div>

      <!--<hr>-->

       sidebar menu
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="div_btn">
        <button id="btn1" class="btn"> Create New </button>
        <!--<br>-->
        <button id="btn2" class="btn "> Import </button>
        </div>
        <div class="menu_section">

          <ul class="nav side-menu">
            <li><a><i class="fa fa-home "></i> Home </a></li>
            <li><a><i class="fa fa-edit"></i> My Poll</a>
              <!--<ul class="nav child_menu">-->

              <!--</ul>-->
            </li>
            <li><a><i class="fa fa-bar-chart-o"></i> Results </a>

            <!--<li><a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>-->

            </li>
            <li><a><i class="fa fa-desktop"></i> Reports </a>

            </li>
            <li><a><i class="fa fa-clone"></i>Layouts </a></li>

          </ul>
        </div>
      </div>

      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
          <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
      <!-- /menu footer buttons -->
    </div>

  </div>
</div>
