<div class="vote_setting">
<hr>
  <div>

    <label>Vote Expeire</label>
    <select>
      <option>Never</option>
      <option>After 1hour</option>
      <option>After 2hour</option>
      <option>After a week</option>
      <option>After 24hour</option>
    </select>

    <hr>

    <label>Display order</label>

    <select>
      <option>As configured (default)</option>
      <option>most voted on the top</option>
      <option>Random</option>
    </select>

    <hr>


    <label>Show results</label>

    <select>
      <option>Only after voting</option>
      <option>Allow viewing only voting</option>
      <option>Only visible to creator</option>
    </select>

    <hr>


    <label>Display order</label>

    <select>
      <option>As configured (default)</option>
      <option>most voted on the top</option>
      <option>Random</option>
    </select>

    <hr>

    <label>Voting Media</label>

    <select>
      <option>through sms</option>
      <option>through g+</option>
      <option>through facebook</option>
      <option>through twitter</option>
    </select>

    <hr>
  </div>
</div>
