<div>
  <div id="brand_nav_main">

    <ul>
      <li class="brands"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li class="brands"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li class="brands"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
      <li class="brands"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

      <li id="top_contact"><a href="#" class="contact_icon"><i class="fa fa-envelope icon" aria-hidden="true"></i> info@example.com</a></li>
      <li id="top_phone"><a href="#" class="contact_icon"><i class="fa fa-phone icon" aria-hidden="true"></i>  (111)+245 245 66</a></li>

      <li class="navbar-right"><a href="#" class="contact_icon"> <i class="fa fa-sign-in icon" aria-hidden="true"></i>  Sign in</a></li>
      <li class="navbar-right"><a href="#" class="contact_icon"> <i class="fa fa-user-plus icon" aria-hidden="true"></i>  Sign up</a></li>
    </ul>

  </div>


</div>
